body {
	background-color: #aea;
}
.toot {
	border-width: 15px;
	background-color: #fff;
}
.boost {
	border-width: 15px;
	background-color: #fff;
	visibility: visible;
}
.form {
	border-width: 15px;
	background-color: #fff;
}
.next {
	color: #000;
}
#progress {
	visibility: hidden; /* visible */
}