.boost {
	border: 2px solid #009af4;
    border-radius: 4px;
	background-color: #fff;
    margin: 15px;
    padding: 15px;
}
.toot {
	border: 2px solid #52b03b;;
    border-radius: 4px;
	background-color: #fff;
    margin: 15px;
    padding: 15px;
}
#progress {
	display: inline;
}
.time {
    background-color: #fff;
}
